/* Dark Theme QSS */

QWidget {
    background-color: #2b2b2b;
    color: #f0f0f0;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 12pt;
}

/* Κουμπιά */
QPushButton {
    background-color: #3c3c3c;
    border: 1px solid #555;
    padding: 5px 10px;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #505050;
}

QPushButton:pressed {
    background-color: #2a82da;
    color: white;
}

/* Γραμμές κειμένου */
QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: #1e1e1e;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 4px;
    selection-background-color: #2a82da;
    selection-color: white;
}

QComboBox {
    border: 2px solid #88C;
    border-radius: 5px;
    padding: 5px 35px 5px 10px;
    background-color: #2B2B2B;
    color: #EEE;
    min-height: 35px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 25px;
    border: none;
    background-color: transparent;
}

QComboBox:down-arrow {
    image: url(:/images/XOPTIMUS/white_down.png);
    width: 48px;
    height: 48px;
     padding: 5px 35px 5px 10px; /* Δεξιά χώρο για βελάκι */
}


QComboBox QAbstractItemView {
    border: 1px solid #555;
    selection-background-color: #88C;
    background-color: #333;
    color: #EEE;
    min-height: 35px;

}



/* Πίνακες */
QTableView {
    gridline-color: #444;
    background-color: #2b2b2b;
    alternate-background-color: #3c3c3c;
    color: #f0f0f0;
    selection-background-color: #2a82da;
    selection-color: white;
}

/* Scrollbars */
QScrollBar:vertical {
    background: #2b2b2b;
    width: 12px;
    margin: 0px;
}
QScrollBar::handle:vertical {
    background: #555;
    min-height: 20px;
    border-radius: 6px;
}
QScrollBar::handle:vertical:hover {
    background: #777;
}

/* Menus */
QMenuBar {
    background-color: #2b2b2b;
}
QMenuBar::item:selected {
    background: #505050;
}

QMenu {
    background-color: #2b2b2b;
    border: 1px solid #555;
}
QMenu::item:selected {
    background-color: #2a82da;
    color: white;
}
